<h2>Edit <%= resource_name.to_s.humanize %></h2>

<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <%= render  partial: "devise/registrations/form", locals: {resource: resource} %>
    </div>
  </div>
</div>

