<div data-controller="multi-pricing">
  <%= simple_form_for @flat do |f| %>
    <%= f.input :title %>
      <% link_to "add price", "#", class: "bt btn-danger", "data-action": "multi-pricing#addNewPrice" %>

       <% render partial: "field_pricing", locals: { f: f } %>
<!--    <div data-multi-pricing-target="multi">-->

<!--    </div>-->
    <%= f.submit "Submit flat", class: "btn btn-primary" %>
  <% end %>
</div>