<h1>Flats#index</h1>
<p>Find me in app/views/flats/index.html.erb</p>
<% @flats.each do |f| %>
  <%= link_to "#{f.title}", flat_path(f.id) %>
  <% if @cart && @cart.include?(f) %>
  <%= button_to "Remove from cart", remove_from_cart_path(f), method: :delete %>
  <% else %>
  <%= button_to "Add to cart", add_to_cart_path(f) %>
  <% end %>
<% end %>
